* {
    padding: 0%;
    margin: 0px auto;
}

.navbar { 
    margin: 0 auto;
    width: 900px;
    padding: 20px;
    background-color: black;
    color: white;
} 
.head {
    display: flex;
    justify-content: center;
}



.container {
    display: flex;
    margin-top: 20px;
    gap: 50px;
    height: 200px;
    width: 200px;
}
.sidebar span {
    color: blue;
    
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
    border: 3px solid black;
    padding: 40px;
    height: 200px;
}
.sidebar img {
    height: 80px;
    width: 80px;
    margin-top: 20px;
    border-radius: 50%;
}
.user {
    border:3px solid black;
    display: flex;
    gap: 50px;
}
.main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.main-content button {
    background-color: #f2ca4e;
    padding: 10px;
    width: 50px;
    height: 40px;
    border: 3px solid black;
    box-shadow: 5px 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.container span {
    color: blue;
}